<div style="display: flex; justify-content: space-between;">
  <div style="display: flex;align-items: center;">
    <h3 style="margin:0px">
      {{isUpdate ? 'Yazıyı Güncelle':'Yazıyı Gör'}}
    </h3>
  </div>
  <button mat-button style="font-size: 24px;" (click)="close()">x</button>
</div>

<mat-divider></mat-divider>

<div *ngIf="!isUpdate">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <img class="w-100" src="assets/images/image{{imageUrl}}.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h2>{{title}}</h2>
        <p>{{body}}</p>
      </div>
    </div>
    <div class="row" style="padding: 20px;
    margin-bottom: 20px;    background-color: lightgray;
" *ngFor="let comment of commentData">
      <div class="col-md-2">
        <img style="width: 30px;
        height: 30px;
        border-radius: 50%;
    " src="assets/images/profile/profile{{comment.userId}}.jpg" alt="">
      </div>
      <div class="col-md-10">
        <h3>{{comment.name}}</h3>
        <p>{{comment.body}}</p>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isUpdate">
  <form [formGroup]="form" style="min-width: 350px;margin-top: 30px;">
    <div class="container">
      <div class="row">
        <mat-form-field>
          <mat-label>Blog Başlığı</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Blog İçeriği</mat-label>
          <textarea matInput formControlName="body" cols="40" rows="10"></textarea>
        </mat-form-field>
      </div>
      <button [disabled]="!form.valid" color="primary" mat-raised-button (click)="onSubmit()">Güncelle</button>

    </div>



  </form>
</div>